<div>
    <h1>
    <%= @the_board.name %> 
    </h1>
</div>
<hr>
<h2> Add a new post </h2>
<form action="/insert_post" method = "post">
      <div>
      <label for = "input_title"> Title </label>
      <input id = "input_title" type = "text" name = "query_title">
      </div>
      <div>
      <label for = "body_box"> Body </title>
      <textarea id = "body_box" name = "query_body"> </textarea>
      </div>
      <div>
      <label for="expires_box"> Expires on </label>
      <input id = "expires_box" type= "date" name = "query_expires_on">
      </div>
      <div>
      <label for="board_id_box"> </label>
      <input id = "board_id_box" type= "hidden" name = "query_board_id" value = "<%= @the_board.id%>" >
      </div>
      <button> Add post </button>
    </form>


 <hr>
    
    <h2> Active posts </h2>
    <table border = 1 >
      <tbody>
        <tr>
          <th> Title </th>
          <th> Body </th>
          <th> Posted on </th>
          <th> Expires on </th> 
        </tr>
    <% @active_posts.each do |post| %>
   <tr>
          <td> <%= post.title %> </td>
          <td> <%= post.body %> </td>
          <td> <%= post.created_at.strftime("%b %e, %Y") %> </td>
          <td> <%= post.expires_on.strftime("%b %e, %Y") %> </td>
          
    </tr>
    <% end %>
      </tbody>
    </table>

<h2> Expired Post </h2>

<table border = 1 >
      <tbody>
        <tr>
          <th> Title </th>
          <th> Body </th>
          <th> Posted on </th>
          <th> Expires on </th> 
        </tr>
  
  <%# old_posts = Post.where({ :expires_on => @the_post.expires_on }) %>
   
    <% @expired_post.each do |post| %>
   <tr>
          <td> <%= post.title %> </td>
          <td> <%= post.body %> </td>
          <td> <%= post.created_at.strftime("%b %e, %Y") %> </td>
          <td> <%= post.expires_on.strftime("%b %e, %Y") %> </td>
          
    </tr>
    <% end %>
      </tbody>
    </table>
